<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
  <body>
    <link rel="stylesheet" href="app.component.css">
    <!-- app.component.html -->
<div class="cont">
  <button routerLink="/dashboard" [class.active]="isButtonActive('/dashboard')">Dashboard</button>
  <button routerLink="/addtocontacts" [class.active]="isButtonActive('/addtocontacts')">Add to Contacts</button>
  <button routerLink="/addressbook" [class.active]="isButtonActive('/addressbook')">Address Book</button>
</div>
<router-outlet></router-outlet>

  </body>
</html>